@import '../../styles.css';

.navbar{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);

    height: 100vh;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: transform 0.2s ease-in-out;
}

.nav-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    padding: 1em;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-tertiary);
    text-decoration: none;
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: var(--color-tertiary);
}

a:visited{
    text-decoration: none;
    color: var(--color-tertiary);
}

.nav-item:first-child{
    margin-bottom: auto;
}

.nav-item:last-child{
    margin-top: auto;
}

.text{
    position: absolute;
    visibility: visible;
    opacity: 0;
}

.nav-item:hover .text{
    color: var(--color-tertiary);
    visibility: visible;
    cursor: auto;
    opacity: 1;
}

.navbar.retracted{
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
}

.enable-navbar-btn{
    top: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: transform 0.2s ease-in-out; 
}

.enable-navbar-btn.retracted {
    transform: translateX(-100%);
}

.navbar.extending {
    transition-delay: 0.2s;
}